@use "../abstracts/variables" as *;
@use "breakpoints" as *;

/** LAYOUT E GRIDS **/
.vsb-container, 
    [class*=vsb-container-] {
    width: var(--container-default);
    margin: 0 auto;
}

// Criando alguns containers baseados no seu tamanho de tela
@each $size, $value in $containers {
    .vsb-container-#{$size} {
        @include respond($size) {
            max-width: $value;
        }
    }
}

//Rows e Columns
.vsb-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$default-gutter;
    margin-right: -$default-gutter;

    
    > [class*=vsb-flex-] {
        width: 100%;
        max-width: 100%;
        padding-right: $default-gutter;
        padding-left: $default-gutter;
    }

    @for $i from 1 through $total-cols {
        .vsb-flex-#{$i} {
            flex: 0 0 calc(100% / ($total-cols / #{$i}));
        }
    }

    @each $break, $value in $containers {
        @include respond(#{$break}) {
            @for $i from 1 through $total-cols {
                .vsb-flex-#{$break}-#{$i} {
                    flex: 0 0 calc(100% / (#{$total-cols} / #{$i}));
                }
            }
        }
    }
}

