/* Variables */
:root {
  --vsb-primary-clr: #34426f;
  --vsb-primary-100-clr: #a9b0c2;
  --vsb-primary-200-clr: #a0a8bc;
  --vsb-primary-300-clr: #969fb5;
  --vsb-primary-400-clr: #2f3c65;
  --vsb-primary-500-clr: #181f34;
  --vsb-primary-600-clr: #161c2f;
  --vsb-secondary-clr: #7d83ff;
  --vsb-secondary-100-clr: #bdbfff;
  --vsb-secondary-200-clr: #c3c5ff;
  --vsb-secondary-300-clr: #c8caff;
  --vsb-secondary-400-clr: #414384;
  --vsb-secondary-500-clr: #3b3d78;
  --vsb-secondary-600-clr: #36376d;
  --vsb-warn-clr: #fd8b49;
  --vsb-warn-100-clr: #fdc4a1;
  --vsb-warn-200-clr: #fdc9aa;
  --vsb-warn-300-clr: #fdceb2;
  --vsb-warn-400-clr: #fda977;
  --vsb-warn-500-clr: #fda069;
  --vsb-warn-600-clr: #fd965a;
  --vsb-success-clr: #5fab76;
  --vsb-success-100-clr: #add4b8;
  --vsb-success-200-clr: #b4d8be;
  --vsb-success-300-clr: #bbdcc4;
  --vsb-success-400-clr: #87c097;
  --vsb-success-500-clr: #7bba8d;
  --vsb-success-600-clr: #6eb382;
  --vsb-info-clr: #4a529d;
  --vsb-info-100-clr: #9faac4;
  --vsb-info-200-clr: #a8b2c9;
  --vsb-info-300-clr: #b0b9ce;
  --vsb-info-400-clr: #7184a9;
  --vsb-info-500-clr: #6378a0;
  --vsb-info-600-clr: #536b97;
  --vsb-danger-clr: #c44f4f;
  --vsb-danger-100-clr: #c098a2;
  --vsb-danger-200-clr: #c6a1aa;
  --vsb-danger-300-clr: #cbaab2;
  --vsb-danger-400-clr: #a36978;
  --vsb-danger-500-clr: #9a5a6a;
  --vsb-danger-600-clr: #a85661;
  --vsb-gray-clr: #f3f3f9;
  --vsb-gray-50-clr: #fefefe;
  --vsb-gray-100-clr: #fafafa;
  --vsb-gray-200-clr: #f5f5fa;
  --vsb-gray-300-clr: #f7f7fa;
  --vsb-gray-400-clr: #dddde2;
  --vsb-gray-500-clr: #c9c9cd;
  --vsb-gray-600-clr: #9191a1;
  /* ************** COLORS ************** */
  --global-bg-clr: var(--vsb-gray-clr);
  /* Sidebar */
  --sidebar-bg-clr: var(--vsb-primary-clr);
  --sidebar-menu-item-clr: var(--vsb-gray-50-clr);
  --sidebar-menu-item-hvr-bg-clr: var(--vsb-primary-400-clr);
  --sidebar-menu-item-active-brd-clr: var(--vsb-secondary-clr);
  --sidebar-menu-title-clr: var(--vsb-gray-500-clr);
  --sidebar-empl-of-month-bg-clr: rgba(52, 66, 111, 0.8);
  /* Navbar */
  --navbar-bg-clr: var(--vsb-gray-50-clr);
  /* Card */
  --card-bg-clr: var(--vsb-gray-50-clr);
  /* Border */
  --brdr-clr: var(--vsb-gray-300-clr);
  /* Table */
  --tbl-header-bg-clr: var(--vsb-gray-100-clr);
  /* Typography */
  --global-text-clr: var(--vsb-primary-600-clr);
  --faded-text-clr: var(--vsb-gray-500-clr);
  --link-clr: var(--vsb-secondary-clr);
  /* Icon */
  --default-icon-clr: var(--vsb-primary-600-clr);
  --default-icon-hvr-bg-clr: var(--vsb-gray-clr);
  /* Badges */
  --bdg-success-bg-clr: var(--vsb-success-100-clr);
  --bdg-success-text-clr: var(--vsb-success-clr);
  --bdg-secondary-bg-clr: var(--vsb-secondary-100-clr);
  --bdg-secondary-text-clr: var(--vsb-secondary-clr);
  --bdg-warn-bg-clr: var(--vsb-warn-100-clr);
  --bdg-warn-text-clr: var(--vsb-warn-clr);
  --bdg-danger-bg-clr: var(--vsb-danger-100-clr);
  --bdg-danger-text-clr: var(--vsb-danger-clr);
  /* Form */
  --input-bg-clr: var(--vsb-gray-clr);
  --input-brdr-clr: var(--vsb-primary-clr);
  --textarea-bg-clr: transparent;
  --textarea-brdr-clr: var(--vsb-gray-clr);
  /* Button */
  --btn-default-bg-clr: var(--vsb-primary-400-clr);
  --btn-default-text-clr: var(--vsb-gray-50-clr);
  --btn-primary-bg-clr: var(--vsb-primary-100-clr);
  --btn-primary-text-clr: var(--vsb-primary-clr);
  --btn-secondary-bg-clr: var(--vsb-secondary-100-clr);
  --btn-secondary-text-clr: var(--vsb-secondary-clr);
  --btn-success-bg-clr: var(--vsb-success-100-clr);
  --btn-success-text-clr: var(--vsb-success-clr);
  --btn-warn-bg-clr: var(--vsb-warn-100-clr);
  --btn-warn-text-clr: var(--vsb-warn-clr);
  --btn-danger-bg-clr: var(--vsb-danger-100-clr);
  --btn-danger-text-clr: var(--vsb-danger-clr);
  /* ************** TYPOGRAPHY ************** */
  --base-font-size: 62.5%;
  --heading-font-family: "Manrope", sans-serif;
  --body-font-family: "Poppins", sans-serif;
  --heading-1: 2.8rem;
  --heading-2: 2.4rem;
  --heading-3: 2rem;
  --heading-4: 1.8rem;
  --heading-5: 1.6rem;
  --heading-6: 1.6rem;
  --paragraph-size: 1.4rem;
  --card-title: 1.6rem;
  --small-text: 1.2rem;
  --menu-item: 1.4rem;
  --icon-size: 1.4rem;
  --dropdown-item: 1.3rem;
  --bdg-size: 1rem;
  --btn-size: 1.4rem;
  --heading-line-height: 1.4;
  --default-line-height: 1.5;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  /* ************** SPACING ************** */
  --spacing-0: 0;
  --spacing-xs: 0.8rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.2rem;
  --spacing-lg: 1.4rem;
  --spacing-xl: 1.6rem;
  --spacing-18: 1.8rem;
  --spacing-20: 2rem;
  /* ************** LAYOUT ************** */
  --container-default: 90%;
  --container-sm: 87.5rem;
  --container-md: 121.5rem;
  --container-lg: 131.5rem;
  --container-xl: 156rem;
  /* ************** COMPONENTS ************** */
  --default-brd-rad: 0.4rem;
  --default-btn-padding: 0.9rem 3rem;
  --default-btn-sm-padding: 0.6rem 2rem;
  --default-bdg-padding: 0.4rem 1.2rem;
  --default-input-padding: 0.9rem 3rem;
  --default-dropdown-width: 22.5rem;
  --default-dropdown-mx-height: 35rem;
}

/* ************** TYPOGRAPHY ************** */
/* ************** SPACINGS ************** */
/* ************** LAYOUT ************** */
/* ************** COMPONENTS ************** */
/*
=================================================
                    CSS RESET
=================================================
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  outline: none;
}

/* Document
 ========================================================================== */
html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
 ========================================================================== */
/**
* Remove the margin in all browsers (opinionated).
*/
body {
  margin: 0;
}

/**
* Add the correct display in IE 9-.
*/
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/* Grouping content
 ========================================================================== */
/**
* Add the correct display in IE 9-.
* 1. Add the correct display in IE.
*/
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
* Add the correct margin in IE 8.
*/
figure {
  margin: 1em 40px;
}

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
* Remove the outline on focused links when they are also active or hovered
* in all browsers (opinionated).
*/
a:active,
a:hover {
  outline-width: 0;
}

/**
* Remove the border on images inside links in IE 10-.
*/
img {
  border-style: none;
}

/* Forms
 ========================================================================== */
/**
* 1. Change the font styles in all browsers (opinionated).
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  color: inherit;
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 2 */
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Remove the default vertical scrollbar in IE.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10-.
* 2. Remove the padding in IE 10-.
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  border: 0;
  line-height: 1.5;
}

/* Hidden
 ========================================================================== */
/**
* Add the correct display in IE 10-.
*/
[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: var(--base-font-size);
}

body {
  font-family: var(--body-font-family);
  width: 100%;
  min-height: 100%;
  background-color: var(--global-bg-clr);
  color: var(--global-text-color);
  font-weight: var(--font-weight-regular);
  line-height: var(--default-line-height);
  overflow-x: hidden;
  font-size: var(--paragraph-size);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

a, i, span {
  display: inline-block;
}

h1, .vsb-h1,
h2, .vsb-h2,
h3, .vsb-h3,
h4, .vsb-h4,
h5, .vsb-h5,
h6, .vsb-h6 {
  font-family: var(--heading-font-family);
  color: inherit;
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
  margin: 0;
}

h1, .vsb-h1 {
  font-size: var(--heading-1);
}

h2, .vsb-h2 {
  font-size: var(--heading-2);
}

h3, .vsb-h3 {
  font-size: var(--heading-3);
}

h4, .vsb-h4 {
  font-size: var(--heading-4);
}

h5, .vsb-h5 {
  font-size: var(--heading-5);
}

h6, .vsb-h6 {
  font-size: var(--heading-6);
}

.vsb-overflow-auto {
  overflow: auto !important;
}

.vsb-overflow-visible {
  overflow: visible !important;
}

.vsb-overflow-hidden {
  overflow: hidden !important;
}

.vsb-mg-y-0 {
  margin-top: var(--spacing-0) "";
  margin-bottom: var(--spacing-0) "";
}

.vsb-mg-y-8 {
  margin-top: var(--spacing-xs) "";
  margin-bottom: var(--spacing-xs) "";
}

.vsb-mg-y-10 {
  margin-top: var(--spacing-sm) "";
  margin-bottom: var(--spacing-sm) "";
}

.vsb-mg-y-12 {
  margin-top: var(--spacing-md) "";
  margin-bottom: var(--spacing-md) "";
}

.vsb-mg-y-14 {
  margin-top: var(--spacing-lg) "";
  margin-bottom: var(--spacing-lg) "";
}

.vsb-mg-y-16 {
  margin-top: var(--spacing-xl) "";
  margin-bottom: var(--spacing-xl) "";
}

.vsb-mg-y-18 {
  margin-top: var(--spacing-18) "";
  margin-bottom: var(--spacing-18) "";
}

.vsb-mg-y-20 {
  margin-top: var(--spacing-20) "";
  margin-bottom: var(--spacing-20) "";
}

/** LAYOUT E GRIDS **/
.vsb-container,
[class*=vsb-container-] {
  width: var(--container-default);
  margin: 0 auto;
}

@media screen and (min-width: 553px) {
  .vsb-container-sm {
    max-width: var(--container-sm);
  }
}

@media screen and (min-width: 901px) {
  .vsb-container-md {
    max-width: var(--container-md);
  }
}

@media screen and (min-width: 1281px) {
  .vsb-container-lg {
    max-width: var(--container-lg);
  }
}

@media screen and (min-width: 1440px) {
  .vsb-container-xl {
    max-width: var(--container-xl);
  }
}

.vsb-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.vsb-row > [class*=vsb-flex-] {
  width: 100%;
  max-width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.vsb-row .vsb-flex-1 {
  flex: 0 0 calc(100% / (12 / 1));
  max-width: calc(100% / (12 / 1));
}
.vsb-row .vsb-flex-2 {
  flex: 0 0 calc(100% / (12 / 2));
  max-width: calc(100% / (12 / 2));
}
.vsb-row .vsb-flex-3 {
  flex: 0 0 calc(100% / (12 / 3));
  max-width: calc(100% / (12 / 3));
}
.vsb-row .vsb-flex-4 {
  flex: 0 0 calc(100% / (12 / 4));
  max-width: calc(100% / (12 / 4));
}
.vsb-row .vsb-flex-5 {
  flex: 0 0 calc(100% / (12 / 5));
  max-width: calc(100% / (12 / 5));
}
.vsb-row .vsb-flex-6 {
  flex: 0 0 calc(100% / (12 / 6));
  max-width: calc(100% / (12 / 6));
}
.vsb-row .vsb-flex-7 {
  flex: 0 0 calc(100% / (12 / 7));
  max-width: calc(100% / (12 / 7));
}
.vsb-row .vsb-flex-8 {
  flex: 0 0 calc(100% / (12 / 8));
  max-width: calc(100% / (12 / 8));
}
.vsb-row .vsb-flex-9 {
  flex: 0 0 calc(100% / (12 / 9));
  max-width: calc(100% / (12 / 9));
}
.vsb-row .vsb-flex-10 {
  flex: 0 0 calc(100% / (12 / 10));
  max-width: calc(100% / (12 / 10));
}
.vsb-row .vsb-flex-11 {
  flex: 0 0 calc(100% / (12 / 11));
  max-width: calc(100% / (12 / 11));
}
.vsb-row .vsb-flex-12 {
  flex: 0 0 calc(100% / (12 / 12));
  max-width: calc(100% / (12 / 12));
}
.vsb-offset-1 {
  margin-left: calc(100% / (12 / 1));
  flex: 0 0 calc(100% * (12 - 1) / 12);
  max-width: calc(100% * (12 - 1) / 12);
}

.vsb-offset-2 {
  margin-left: calc(100% / (12 / 2));
  flex: 0 0 calc(100% * (12 - 2) / 12);
  max-width: calc(100% * (12 - 2) / 12);
}

.vsb-offset-3 {
  margin-left: calc(100% / (12 / 3));
  flex: 0 0 calc(100% * (12 - 3) / 12);
  max-width: calc(100% * (12 - 3) / 12);
}

.vsb-offset-4 {
  margin-left: calc(100% / (12 / 4));
  flex: 0 0 calc(100% * (12 - 4) / 12);
  max-width: calc(100% * (12 - 4) / 12);
}

.vsb-offset-5 {
  margin-left: calc(100% / (12 / 5));
  flex: 0 0 calc(100% * (12 - 5) / 12);
  max-width: calc(100% * (12 - 5) / 12);
}

.vsb-offset-6 {
  margin-left: calc(100% / (12 / 6));
  flex: 0 0 calc(100% * (12 - 6) / 12);
  max-width: calc(100% * (12 - 6) / 12);
}

.vsb-offset-7 {
  margin-left: calc(100% / (12 / 7));
  flex: 0 0 calc(100% * (12 - 7) / 12);
  max-width: calc(100% * (12 - 7) / 12);
}

.vsb-offset-8 {
  margin-left: calc(100% / (12 / 8));
  flex: 0 0 calc(100% * (12 - 8) / 12);
  max-width: calc(100% * (12 - 8) / 12);
}

.vsb-offset-9 {
  margin-left: calc(100% / (12 / 9));
  flex: 0 0 calc(100% * (12 - 9) / 12);
  max-width: calc(100% * (12 - 9) / 12);
}

.vsb-offset-10 {
  margin-left: calc(100% / (12 / 10));
  flex: 0 0 calc(100% * (12 - 10) / 12);
  max-width: calc(100% * (12 - 10) / 12);
}

.vsb-offset-11 {
  margin-left: calc(100% / (12 / 11));
  flex: 0 0 calc(100% * (12 - 11) / 12);
  max-width: calc(100% * (12 - 11) / 12);
}

.vsb-offset-12 {
  margin-left: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 553px) {
  .vsb-offset-sm-1 {
    margin-left: calc(100% / (12 / 1));
    flex: 0 0 calc(100% * (12 - 1) / 12);
    max-width: calc(100% * (12 - 1) / 12);
  }
  .vsb-offset-sm-2 {
    margin-left: calc(100% / (12 / 2));
    flex: 0 0 calc(100% * (12 - 2) / 12);
    max-width: calc(100% * (12 - 2) / 12);
  }
  .vsb-offset-sm-3 {
    margin-left: calc(100% / (12 / 3));
    flex: 0 0 calc(100% * (12 - 3) / 12);
    max-width: calc(100% * (12 - 3) / 12);
  }
  .vsb-offset-sm-4 {
    margin-left: calc(100% / (12 / 4));
    flex: 0 0 calc(100% * (12 - 4) / 12);
    max-width: calc(100% * (12 - 4) / 12);
  }
  .vsb-offset-sm-5 {
    margin-left: calc(100% / (12 / 5));
    flex: 0 0 calc(100% * (12 - 5) / 12);
    max-width: calc(100% * (12 - 5) / 12);
  }
  .vsb-offset-sm-6 {
    margin-left: calc(100% / (12 / 6));
    flex: 0 0 calc(100% * (12 - 6) / 12);
    max-width: calc(100% * (12 - 6) / 12);
  }
  .vsb-offset-sm-7 {
    margin-left: calc(100% / (12 / 7));
    flex: 0 0 calc(100% * (12 - 7) / 12);
    max-width: calc(100% * (12 - 7) / 12);
  }
  .vsb-offset-sm-8 {
    margin-left: calc(100% / (12 / 8));
    flex: 0 0 calc(100% * (12 - 8) / 12);
    max-width: calc(100% * (12 - 8) / 12);
  }
  .vsb-offset-sm-9 {
    margin-left: calc(100% / (12 / 9));
    flex: 0 0 calc(100% * (12 - 9) / 12);
    max-width: calc(100% * (12 - 9) / 12);
  }
  .vsb-offset-sm-10 {
    margin-left: calc(100% / (12 / 10));
    flex: 0 0 calc(100% * (12 - 10) / 12);
    max-width: calc(100% * (12 - 10) / 12);
  }
  .vsb-offset-sm-11 {
    margin-left: calc(100% / (12 / 11));
    flex: 0 0 calc(100% * (12 - 11) / 12);
    max-width: calc(100% * (12 - 11) / 12);
  }
  .vsb-offset-sm-12 {
    margin-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 901px) {
  .vsb-offset-md-1 {
    margin-left: calc(100% / (12 / 1));
    flex: 0 0 calc(100% * (12 - 1) / 12);
    max-width: calc(100% * (12 - 1) / 12);
  }
  .vsb-offset-md-2 {
    margin-left: calc(100% / (12 / 2));
    flex: 0 0 calc(100% * (12 - 2) / 12);
    max-width: calc(100% * (12 - 2) / 12);
  }
  .vsb-offset-md-3 {
    margin-left: calc(100% / (12 / 3));
    flex: 0 0 calc(100% * (12 - 3) / 12);
    max-width: calc(100% * (12 - 3) / 12);
  }
  .vsb-offset-md-4 {
    margin-left: calc(100% / (12 / 4));
    flex: 0 0 calc(100% * (12 - 4) / 12);
    max-width: calc(100% * (12 - 4) / 12);
  }
  .vsb-offset-md-5 {
    margin-left: calc(100% / (12 / 5));
    flex: 0 0 calc(100% * (12 - 5) / 12);
    max-width: calc(100% * (12 - 5) / 12);
  }
  .vsb-offset-md-6 {
    margin-left: calc(100% / (12 / 6));
    flex: 0 0 calc(100% * (12 - 6) / 12);
    max-width: calc(100% * (12 - 6) / 12);
  }
  .vsb-offset-md-7 {
    margin-left: calc(100% / (12 / 7));
    flex: 0 0 calc(100% * (12 - 7) / 12);
    max-width: calc(100% * (12 - 7) / 12);
  }
  .vsb-offset-md-8 {
    margin-left: calc(100% / (12 / 8));
    flex: 0 0 calc(100% * (12 - 8) / 12);
    max-width: calc(100% * (12 - 8) / 12);
  }
  .vsb-offset-md-9 {
    margin-left: calc(100% / (12 / 9));
    flex: 0 0 calc(100% * (12 - 9) / 12);
    max-width: calc(100% * (12 - 9) / 12);
  }
  .vsb-offset-md-10 {
    margin-left: calc(100% / (12 / 10));
    flex: 0 0 calc(100% * (12 - 10) / 12);
    max-width: calc(100% * (12 - 10) / 12);
  }
  .vsb-offset-md-11 {
    margin-left: calc(100% / (12 / 11));
    flex: 0 0 calc(100% * (12 - 11) / 12);
    max-width: calc(100% * (12 - 11) / 12);
  }
  .vsb-offset-md-12 {
    margin-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1281px) {
  .vsb-offset-lg-1 {
    margin-left: calc(100% / (12 / 1));
    flex: 0 0 calc(100% * (12 - 1) / 12);
    max-width: calc(100% * (12 - 1) / 12);
  }
  .vsb-offset-lg-2 {
    margin-left: calc(100% / (12 / 2));
    flex: 0 0 calc(100% * (12 - 2) / 12);
    max-width: calc(100% * (12 - 2) / 12);
  }
  .vsb-offset-lg-3 {
    margin-left: calc(100% / (12 / 3));
    flex: 0 0 calc(100% * (12 - 3) / 12);
    max-width: calc(100% * (12 - 3) / 12);
  }
  .vsb-offset-lg-4 {
    margin-left: calc(100% / (12 / 4));
    flex: 0 0 calc(100% * (12 - 4) / 12);
    max-width: calc(100% * (12 - 4) / 12);
  }
  .vsb-offset-lg-5 {
    margin-left: calc(100% / (12 / 5));
    flex: 0 0 calc(100% * (12 - 5) / 12);
    max-width: calc(100% * (12 - 5) / 12);
  }
  .vsb-offset-lg-6 {
    margin-left: calc(100% / (12 / 6));
    flex: 0 0 calc(100% * (12 - 6) / 12);
    max-width: calc(100% * (12 - 6) / 12);
  }
  .vsb-offset-lg-7 {
    margin-left: calc(100% / (12 / 7));
    flex: 0 0 calc(100% * (12 - 7) / 12);
    max-width: calc(100% * (12 - 7) / 12);
  }
  .vsb-offset-lg-8 {
    margin-left: calc(100% / (12 / 8));
    flex: 0 0 calc(100% * (12 - 8) / 12);
    max-width: calc(100% * (12 - 8) / 12);
  }
  .vsb-offset-lg-9 {
    margin-left: calc(100% / (12 / 9));
    flex: 0 0 calc(100% * (12 - 9) / 12);
    max-width: calc(100% * (12 - 9) / 12);
  }
  .vsb-offset-lg-10 {
    margin-left: calc(100% / (12 / 10));
    flex: 0 0 calc(100% * (12 - 10) / 12);
    max-width: calc(100% * (12 - 10) / 12);
  }
  .vsb-offset-lg-11 {
    margin-left: calc(100% / (12 / 11));
    flex: 0 0 calc(100% * (12 - 11) / 12);
    max-width: calc(100% * (12 - 11) / 12);
  }
  .vsb-offset-lg-12 {
    margin-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .vsb-offset-xl-1 {
    margin-left: calc(100% / (12 / 1));
    flex: 0 0 calc(100% * (12 - 1) / 12);
    max-width: calc(100% * (12 - 1) / 12);
  }
  .vsb-offset-xl-2 {
    margin-left: calc(100% / (12 / 2));
    flex: 0 0 calc(100% * (12 - 2) / 12);
    max-width: calc(100% * (12 - 2) / 12);
  }
  .vsb-offset-xl-3 {
    margin-left: calc(100% / (12 / 3));
    flex: 0 0 calc(100% * (12 - 3) / 12);
    max-width: calc(100% * (12 - 3) / 12);
  }
  .vsb-offset-xl-4 {
    margin-left: calc(100% / (12 / 4));
    flex: 0 0 calc(100% * (12 - 4) / 12);
    max-width: calc(100% * (12 - 4) / 12);
  }
  .vsb-offset-xl-5 {
    margin-left: calc(100% / (12 / 5));
    flex: 0 0 calc(100% * (12 - 5) / 12);
    max-width: calc(100% * (12 - 5) / 12);
  }
  .vsb-offset-xl-6 {
    margin-left: calc(100% / (12 / 6));
    flex: 0 0 calc(100% * (12 - 6) / 12);
    max-width: calc(100% * (12 - 6) / 12);
  }
  .vsb-offset-xl-7 {
    margin-left: calc(100% / (12 / 7));
    flex: 0 0 calc(100% * (12 - 7) / 12);
    max-width: calc(100% * (12 - 7) / 12);
  }
  .vsb-offset-xl-8 {
    margin-left: calc(100% / (12 / 8));
    flex: 0 0 calc(100% * (12 - 8) / 12);
    max-width: calc(100% * (12 - 8) / 12);
  }
  .vsb-offset-xl-9 {
    margin-left: calc(100% / (12 / 9));
    flex: 0 0 calc(100% * (12 - 9) / 12);
    max-width: calc(100% * (12 - 9) / 12);
  }
  .vsb-offset-xl-10 {
    margin-left: calc(100% / (12 / 10));
    flex: 0 0 calc(100% * (12 - 10) / 12);
    max-width: calc(100% * (12 - 10) / 12);
  }
  .vsb-offset-xl-11 {
    margin-left: calc(100% / (12 / 11));
    flex: 0 0 calc(100% * (12 - 11) / 12);
    max-width: calc(100% * (12 - 11) / 12);
  }
  .vsb-offset-xl-12 {
    margin-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */
